.DS_Store
/node_modules
/packages/react-islands-ui/node_modules
*.tgz
/packages/react-islands-ui/dist
/dist
/package
.env
.env.*
!/\.env\.example
!/\.env\..*\.example
/examples/node_modules
/examples/dist

# Local editor/workspace files
.vscode/
*.code-workspace
/examples/.npm-cache
/.npm-cache
examples/yarn.lock
yarn.lock
